
@{
    ViewBag.Title = "error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
        <div class="row">
            <div class="text-center mt-5 mr-2">
                <h1>404</h1>
                <h2>Opps! Không tìm thấy trang</h2>
                <p>Xin lỗi trang bạn đang tìm kiếm không tồn tại!!</p>
            </div>
            <div class="primary-button" 
        </div>



    </div>
<



