USE master
GO
DROP DATABASE IF EXISTS shop
GO
CREATE DATABASE shop
GO
USE shop
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Baohanh]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Baohanh](
	[MaPhieu] [int] IDENTITY(1,1) NOT NULL,
	[MaBT] [int] NOT NULL,
	[MaHD] [int] NOT NULL,
	[MaTK] [int] NOT NULL,
	[NgayTiepNhan] [datetime] NULL,
	[NgayHenTra] [datetime] NULL,
	[TinhTrangLoi] [nvarchar](max) NULL,
	[NoiDungSuaChua] [nvarchar](max) NULL,
	[ChiPhiSuaChua] [decimal](18, 2) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_dbo.Baohanh] PRIMARY KEY CLUSTERED 
(
	[MaPhieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BienThe]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BienThe](
	[MaBT] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[GiaBan] [money] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [nvarchar](150) NULL,
	[TrangThai] [bit] NOT NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](50) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](50) NULL,
	[GiaNhap] [decimal](18, 2) NULL,
 CONSTRAINT [PK_dbo.BienThe] PRIMARY KEY CLUSTERED 
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[MaBrand] [int] IDENTITY(1,1) NOT NULL,
	[TenBrand] [nvarchar](100) NOT NULL,
	[Logo] [nvarchar](255) NULL,
	[MoTa] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.Brand] PRIMARY KEY CLUSTERED 
(
	[MaBrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatbotKnowledge]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotKnowledge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CauHoi] [nvarchar](500) NOT NULL,
	[CauTraLoi] [nvarchar](max) NOT NULL,
	[TuKhoa] [nvarchar](200) NULL,
	[MaDM] [int] NULL,
 CONSTRAINT [PK_dbo.ChatbotKnowledge] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatbotLog]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatbotLog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NULL,
	[CauHoiKhach] [nvarchar](max) NOT NULL,
	[BotTraLoi] [nvarchar](max) NULL,
	[ThoiGian] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.ChatbotLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietBT]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietBT](
	[MaBT] [int] NOT NULL,
	[MaGT] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ChiTietBT] PRIMARY KEY CLUSTERED 
(
	[MaBT] ASC,
	[MaGT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [int] NOT NULL,
	[MaBT] [int] NOT NULL,
	[SoLuongMua] [int] NOT NULL,
	[GiaMua] [money] NOT NULL,
	[NgayHetHanBH] [datetime] NULL,
 CONSTRAINT [PK_dbo.ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[MaDanhGia] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[XepHang] [int] NOT NULL,
	[BinhLuan] [nvarchar](max) NULL,
	[NgayTao] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
	[MaBT] [int] NOT NULL,
	[HinhAnh] [nvarchar](max) NULL,
	[PhanHoiCuaAdmin] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DanhGia] PRIMARY KEY CLUSTERED 
(
	[MaDanhGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[MaDM] [int] IDENTITY(1,1) NOT NULL,
	[TenDM] [nvarchar](100) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](50) NULL,
	[NguoiTao] [nvarchar](50) NULL,
	[MaDMCha] [int] NULL,
 CONSTRAINT [PK_dbo.DanhMuc] PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiaTriTT]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiaTriTT](
	[MaGT] [int] IDENTITY(1,1) NOT NULL,
	[MaTT] [int] NOT NULL,
	[GiaTri] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_dbo.GiaTriTT] PRIMARY KEY CLUSTERED 
(
	[MaGT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[MaGH] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[MaBT] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayThem] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.GioHang] PRIMARY KEY CLUSTERED 
(
	[MaGH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaTK] [int] NOT NULL,
	[NgayDat] [datetime] NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
	[TrangThai] [int] NOT NULL,
	[HoTenNguoiNhan] [nvarchar](100) NOT NULL,
	[DiaChiNhan] [nvarchar](250) NOT NULL,
	[SoDienThoaiNhan] [nvarchar](11) NOT NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[PhuongThucThanhToan] [nvarchar](100) NOT NULL,
	[TrangThaiThanhToan] [int] NULL,
 CONSTRAINT [PK_dbo.HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[MaKM] [int] IDENTITY(1,1) NOT NULL,
	[TenKM] [nvarchar](200) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[NgayBatDau] [datetime] NULL,
	[NgayKetThuc] [datetime] NULL,
	[TrangThai] [int] NOT NULL,
	[NgayTao] [datetime] NULL,
	[NguoiTao] [nvarchar](50) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.KhuyenMai] PRIMARY KEY CLUSTERED 
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NOT NULL,
	[TenSP] [nvarchar](150) NOT NULL,
	[MoTa] [ntext] NULL,
	[NgayTao] [datetime] NOT NULL,
	[NguoiTao] [nvarchar](max) NULL,
	[NgaySua] [datetime] NULL,
	[NguoiSua] [nvarchar](max) NULL,
	[HinhAnh] [nvarchar](255) NULL,
	[MaBrand] [int] NOT NULL,
	[ThoiHanBaoHanh] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamKhuyenMai]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPhamKhuyenMai](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaSP] [int] NOT NULL,
	[MaKM] [int] NULL,
	[MaBT] [int] NULL,
	[PhanTramGiam] [int] NOT NULL,
	[SoLuongKhuyenMai] [int] NULL,
	[SoLuongDaBan] [int] NOT NULL,
 CONSTRAINT [PK_dbo.SanPhamKhuyenMai] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanNguoiDung]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNguoiDung](
	[MaTK] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](11) NOT NULL,
	[DiaChi] [nvarchar](100) NOT NULL,
	[NgaySinh] [datetime] NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[GioiTinh] [int] NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TaiKhoanNguoiDung] PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoanQuanTri]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanQuanTri](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](100) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[LoaiTaiKhoan] [bit] NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TaiKhoanQuanTri] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuocTinh]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuocTinh](
	[MaTT] [int] IDENTITY(1,1) NOT NULL,
	[MaDM] [int] NULL,
	[TenTT] [nvarchar](100) NOT NULL,
	[LaThuocTinhChinh] [bit] NOT NULL,
	[ThuTuHienThi] [int] NULL,
 CONSTRAINT [PK_dbo.ThuocTinh] PRIMARY KEY CLUSTERED 
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuVienAnh]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuVienAnh](
	[MaAnh] [int] IDENTITY(1,1) NOT NULL,
	[MaBT] [int] NOT NULL,
	[DuongDanAnh] [nvarchar](500) NOT NULL,
	[ThuTu] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ThuVienAnh] PRIMARY KEY CLUSTERED 
(
	[MaAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 5/10/2026 7:29:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[MaTin] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](250) NOT NULL,
	[AnhDaiDien] [nvarchar](250) NULL,
	[TomTat] [nvarchar](max) NULL,
	[NoiDung] [nvarchar](max) NULL,
	[NgayDang] [datetime] NULL,
	[MaTK] [int] NULL,
	[LuotXem] [int] NULL,
	[TrangThai] [int] NOT NULL,
 CONSTRAINT [PK_dbo.TinTuc] PRIMARY KEY CLUSTERED 
(
	[MaTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Baohanh] ON 

INSERT [dbo].[Baohanh] ([MaPhieu], [MaBT], [MaHD], [MaTK], [NgayTiepNhan], [NgayHenTra], [TinhTrangLoi], [NoiDungSuaChua], [ChiPhiSuaChua], [TrangThai]) VALUES (1, 5, 15, 3, CAST(N'2026-04-16T00:55:33.227' AS DateTime), CAST(N'2026-04-23T00:00:00.000' AS DateTime), N'ad', N'àgafffffffffffffffa', CAST(111111.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[Baohanh] ([MaPhieu], [MaBT], [MaHD], [MaTK], [NgayTiepNhan], [NgayHenTra], [TinhTrangLoi], [NoiDungSuaChua], [ChiPhiSuaChua], [TrangThai]) VALUES (2, 5, 15, 3, CAST(N'2026-04-16T01:04:51.320' AS DateTime), CAST(N'2026-04-30T00:00:00.000' AS DateTime), N'âfataaaaaaaaaaaaaaa', N'Chưa có', CAST(100000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[Baohanh] ([MaPhieu], [MaBT], [MaHD], [MaTK], [NgayTiepNhan], [NgayHenTra], [TinhTrangLoi], [NoiDungSuaChua], [ChiPhiSuaChua], [TrangThai]) VALUES (3, 14, 17, 3, CAST(N'2026-04-16T16:15:43.917' AS DateTime), CAST(N'2026-04-23T00:00:00.000' AS DateTime), N'man hinh soc', N'man het soc', CAST(100000.00 AS Decimal(18, 2)), 3)
SET IDENTITY_INSERT [dbo].[Baohanh] OFF
GO
SET IDENTITY_INSERT [dbo].[BienThe] ON 

INSERT [dbo].[BienThe] ([MaBT], [MaSP], [GiaBan], [SoLuongTon], [HinhAnh], [TrangThai], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [GiaNhap]) VALUES (5, 8, 10000.0000, 57, N'/Content/Images/BienThes/639119487970918070_10_78_1.jpg', 1, CAST(N'2026-04-04T04:00:18.793' AS DateTime), N'aaaaaaa', CAST(N'2026-05-06T10:01:45.123' AS DateTime), N'Nguyễn Văn A', CAST(5000.00 AS Decimal(18, 2)))
INSERT [dbo].[BienThe] ([MaBT], [MaSP], [GiaBan], [SoLuongTon], [HinhAnh], [TrangThai], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [GiaNhap]) VALUES (9, 10, 725000.0000, 9992, N'/Content/Images/BienThes/639136294861987714_chuot-gaming-khong-day-logitech-g304-lightspeed_3.jpg', 1, CAST(N'2026-04-05T14:39:52.880' AS DateTime), N'aaaaaaa', CAST(N'2026-05-06T01:58:39.523' AS DateTime), N'Nguyễn Văn A', CAST(200000.00 AS Decimal(18, 2)))
INSERT [dbo].[BienThe] ([MaBT], [MaSP], [GiaBan], [SoLuongTon], [HinhAnh], [TrangThai], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [GiaNhap]) VALUES (10, 10, 725000.0000, 238, N'/Content/Images/BienThes/639136294248191907_t_i_xu_ng_36__1.jpg', 1, CAST(N'2026-04-05T15:35:40.753' AS DateTime), N'aaaaaaa', CAST(N'2026-05-06T01:57:04.817' AS DateTime), N'Nguyễn Văn A', CAST(500000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[BienThe] OFF
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([MaBrand], [TenBrand], [Logo], [MoTa]) VALUES (7, N'DELL', N'/Content/Images/Brands/639113025411153242_Dell-240x50.jpg', N'ad')
INSERT [dbo].[Brand] ([MaBrand], [TenBrand], [Logo], [MoTa]) VALUES (8, N'APPLE', N'/Content/Images/Brands/639109460278046124_iPhone-240x50 (1).jpg', N'adadad')
INSERT [dbo].[Brand] ([MaBrand], [TenBrand], [Logo], [MoTa]) VALUES (9, N'HP', N'/Content/Images/Brands/639110376440024024_HP-240x50.jpg', N'aa')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
INSERT [dbo].[ChiTietBT] ([MaBT], [MaGT]) VALUES (5, 1)
INSERT [dbo].[ChiTietBT] ([MaBT], [MaGT]) VALUES (11, 1)
INSERT [dbo].[ChiTietBT] ([MaBT], [MaGT]) VALUES (13, 1)
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaBT], [SoLuongMua], [GiaMua], [NgayHetHanBH]) VALUES (1, 9, 1, 681500.0000, NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaBT], [SoLuongMua], [GiaMua], [NgayHetHanBH]) VALUES (3, 9, 1, 681500.0000, NULL)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaBT], [SoLuongMua], [GiaMua], [NgayHetHanBH]) VALUES (4, 5, 4, 5.0000, NULL)
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([MaDanhGia], [MaTK], [XepHang], [BinhLuan], [NgayTao], [TrangThai], [MaBT], [HinhAnh], [PhanHoiCuaAdmin]) VALUES (2, 3, 3, N'à', CAST(N'2026-04-16T02:48:17.947' AS DateTime), 1, 5, N'/Content/Images/Reviews/639119044979452926_HP-240x50.jpg', N'a')
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaTK], [XepHang], [BinhLuan], [NgayTao], [TrangThai], [MaBT], [HinhAnh], [PhanHoiCuaAdmin]) VALUES (3, 3, 5, N'ad', CAST(N'2026-04-16T02:52:18.410' AS DateTime), 1, 5, NULL, N'cafafaf')
INSERT [dbo].[DanhGia] ([MaDanhGia], [MaTK], [XepHang], [BinhLuan], [NgayTao], [TrangThai], [MaBT], [HinhAnh], [PhanHoiCuaAdmin]) VALUES (4, 3, 5, N'âf', CAST(N'2026-04-16T03:15:10.733' AS DateTime), 1, 5, N'/Content/Images/Reviews/639119061107328677_text_ng_n_6__3_12_1_3.jpg', N'đa')
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [NgayTao], [NgaySua], [NguoiSua], [NguoiTao], [MaDMCha]) VALUES (20, N'Laptop', CAST(N'2026-01-15T16:13:18.440' AS DateTime), CAST(N'2026-04-05T17:51:47.590' AS DateTime), N'Nguyễn Văn A', NULL, NULL)
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [NgayTao], [NgaySua], [NguoiSua], [NguoiTao], [MaDMCha]) VALUES (31, N'Chuột', CAST(N'2026-01-23T16:33:32.600' AS DateTime), CAST(N'2026-04-14T19:14:15.497' AS DateTime), N'Nguyễn Văn A', NULL, NULL)
INSERT [dbo].[DanhMuc] ([MaDM], [TenDM], [NgayTao], [NgaySua], [NguoiSua], [NguoiTao], [MaDMCha]) VALUES (37, N'VGA', CAST(N'2026-04-05T00:48:02.567' AS DateTime), CAST(N'2026-05-10T17:59:21.323' AS DateTime), N'Nguyễn Văn A', N'aaaaaaa', NULL)
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[GiaTriTT] ON 

INSERT [dbo].[GiaTriTT] ([MaGT], [MaTT], [GiaTri]) VALUES (1, 1, N'16GB')
INSERT [dbo].[GiaTriTT] ([MaGT], [MaTT], [GiaTri]) VALUES (2, 2, N'RTX3050 6GB')
INSERT [dbo].[GiaTriTT] ([MaGT], [MaTT], [GiaTri]) VALUES (3, 1, N'55gb')
SET IDENTITY_INSERT [dbo].[GiaTriTT] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaBT], [SoLuong], [NgayThem]) VALUES (111, 10, 35, 1, CAST(N'2026-05-03T18:56:35.340' AS DateTime))
INSERT [dbo].[GioHang] ([MaGH], [MaTK], [MaBT], [SoLuong], [NgayThem]) VALUES (113, 8, 35, 1, CAST(N'2026-05-03T19:12:28.850' AS DateTime))
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [MaTK], [NgayDat], [GhiChu], [TrangThai], [HoTenNguoiNhan], [DiaChiNhan], [SoDienThoaiNhan], [NgaySua], [NguoiSua], [PhuongThucThanhToan], [TrangThaiThanhToan]) VALUES (1, 8, CAST(N'2026-04-14T04:19:12.217' AS DateTime), NULL, 0, N'mai son', N'dâd', N'0902206618', CAST(N'2026-04-14T19:26:20.700' AS DateTime), N'Admin', N'', NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaTK], [NgayDat], [GhiChu], [TrangThai], [HoTenNguoiNhan], [DiaChiNhan], [SoDienThoaiNhan], [NgaySua], [NguoiSua], [PhuongThucThanhToan], [TrangThaiThanhToan]) VALUES (2, 8, CAST(N'2026-04-14T04:27:42.077' AS DateTime), NULL, 0, N'mai son', N'dâd', N'0902206618', CAST(N'2026-04-14T19:26:18.443' AS DateTime), N'Admin', N'', NULL)
INSERT [dbo].[HoaDon] ([MaHD], [MaTK], [NgayDat], [GhiChu], [TrangThai], [HoTenNguoiNhan], [DiaChiNhan], [SoDienThoaiNhan], [NgaySua], [NguoiSua], [PhuongThucThanhToan], [TrangThaiThanhToan]) VALUES (3, 8, CAST(N'2026-04-14T04:30:44.927' AS DateTime), NULL, 0, N'mai son', N'dâd', N'0902206618', CAST(N'2026-04-14T19:26:34.443' AS DateTime), N'Admin', N'', NULL)
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [NgayBatDau], [NgayKetThuc], [TrangThai], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (9, N'Tai nghe deal ngon!', NULL, CAST(N'2026-05-10T00:00:00.000' AS DateTime), CAST(N'2026-05-31T00:00:00.000' AS DateTime), 1, CAST(N'2026-05-10T18:31:07.293' AS DateTime), N'Nguyễn Văn A', CAST(N'2026-05-10T18:31:38.397' AS DateTime), N'Nguyễn Văn A')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [NgayBatDau], [NgayKetThuc], [TrangThai], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (10, N'Chuột gaming đang giảm nè!', NULL, CAST(N'2026-05-10T00:00:00.000' AS DateTime), CAST(N'2026-05-25T00:00:00.000' AS DateTime), 1, CAST(N'2026-05-10T18:32:31.697' AS DateTime), N'Nguyễn Văn A', CAST(N'2026-05-10T18:36:14.770' AS DateTime), N'Nguyễn Văn A')
INSERT [dbo].[KhuyenMai] ([MaKM], [TenKM], [MoTa], [NgayBatDau], [NgayKetThuc], [TrangThai], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua]) VALUES (11, N'Bàn phím nè!', NULL, CAST(N'2026-05-10T00:00:00.000' AS DateTime), CAST(N'2026-05-25T00:00:00.000' AS DateTime), 1, CAST(N'2026-05-10T18:33:03.830' AS DateTime), N'Nguyễn Văn A', CAST(N'2026-05-10T18:36:06.713' AS DateTime), N'Nguyễn Văn A')
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [MaDM], [TenSP], [MoTa], [NgayTao], [NguoiTao], [NgaySua], [NguoiSua], [HinhAnh], [MaBrand], [ThoiHanBaoHanh]) VALUES (8, 20, N'Acer nitro 5', N'ad', CAST(N'2026-04-04T03:59:59.887' AS DateTime), N'aaaaaaa', CAST(N'2026-04-16T15:06:47.447' AS DateTime), N'Nguyễn Văn A', N'/Content/Images/SanPhams/639119488074456644_10_78_1.jpg', 7, 12)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPhamKhuyenMai] ON 

INSERT [dbo].[SanPhamKhuyenMai] ([ID], [MaSP], [MaKM], [MaBT], [PhanTramGiam], [SoLuongKhuyenMai], [SoLuongDaBan]) VALUES (55, 24, 9, 45, 10, 20, 0)
INSERT [dbo].[SanPhamKhuyenMai] ([ID], [MaSP], [MaKM], [MaBT], [PhanTramGiam], [SoLuongKhuyenMai], [SoLuongDaBan]) VALUES (56, 10, 10, 9, 15, 10, 0)
INSERT [dbo].[SanPhamKhuyenMai] ([ID], [MaSP], [MaKM], [MaBT], [PhanTramGiam], [SoLuongKhuyenMai], [SoLuongDaBan]) VALUES (57, 23, 11, 44, 15, 5, 1)
SET IDENTITY_INSERT [dbo].[SanPhamKhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanNguoiDung] ON 

INSERT [dbo].[TaiKhoanNguoiDung] ([MaTK], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [DiaChi], [NgaySinh], [Email], [GioiTinh], [TrangThai]) VALUES (3, N'sonmai1', N'123', N'sonmai', N'0912345678', N'số nhà 61, ngõ 54 tây tựu
', CAST(N'2003-05-04T00:00:00.000' AS DateTime), N'sonmai@gmail.com', 1, 1)
INSERT [dbo].[TaiKhoanNguoiDung] ([MaTK], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [DiaChi], [NgaySinh], [Email], [GioiTinh], [TrangThai]) VALUES (4, N'sonmai12', N'1414', N'adada', N'0902206618', N'ada', CAST(N'2026-03-27T00:00:00.000' AS DateTime), N'sonmai2k3@gmail.com', 1, 1)
INSERT [dbo].[TaiKhoanNguoiDung] ([MaTK], [TenDangNhap], [MatKhau], [HoTen], [SoDienThoai], [DiaChi], [NgaySinh], [Email], [GioiTinh], [TrangThai]) VALUES (5, N'sonmai123', N'1313', N'dad', N'0902206618', N'dad', CAST(N'2026-03-26T00:00:00.000' AS DateTime), N'da@gmail.com', 1, 1)
SET IDENTITY_INSERT [dbo].[TaiKhoanNguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoanQuanTri] ON 

INSERT [dbo].[TaiKhoanQuanTri] ([ID], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [HoTen], [TrangThai]) VALUES (4, N'admin', N'123456', 1, N'Nguyễn Văn A', 1)
INSERT [dbo].[TaiKhoanQuanTri] ([ID], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [HoTen], [TrangThai]) VALUES (5, N'admin1', N'123', 1, N'Nguyễn Văn A', 1)
INSERT [dbo].[TaiKhoanQuanTri] ([ID], [TenDangNhap], [MatKhau], [LoaiTaiKhoan], [HoTen], [TrangThai]) VALUES (6, N'admin2', N'123', 0, N'aaaaaaa', 1)
SET IDENTITY_INSERT [dbo].[TaiKhoanQuanTri] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuocTinh] ON 

INSERT [dbo].[ThuocTinh] ([MaTT], [MaDM], [TenTT], [LaThuocTinhChinh], [ThuTuHienThi]) VALUES (1, 20, N'Ram', 1, 3)
INSERT [dbo].[ThuocTinh] ([MaTT], [MaDM], [TenTT], [LaThuocTinhChinh], [ThuTuHienThi]) VALUES (2, 20, N'GPU', 1, 1)
INSERT [dbo].[ThuocTinh] ([MaTT], [MaDM], [TenTT], [LaThuocTinhChinh], [ThuTuHienThi]) VALUES (3, NULL, N'Màu', 1, 99)
SET IDENTITY_INSERT [dbo].[ThuocTinh] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuVienAnh] ON 

INSERT [dbo].[ThuVienAnh] ([MaAnh], [MaBT], [DuongDanAnh], [ThuTu]) VALUES (10, 10, N'/Content/Images/ThuVienAnhs/639110007486409432_t_i_xu_ng_36__1.jpg', 0)
INSERT [dbo].[ThuVienAnh] ([MaAnh], [MaBT], [DuongDanAnh], [ThuTu]) VALUES (42, 11, N'/Content/Images/ThuVienAnhs/639110377964773539_ssss_2__55_1.jpg', 0)
INSERT [dbo].[ThuVienAnh] ([MaAnh], [MaBT], [DuongDanAnh], [ThuTu]) VALUES (43, 11, N'/Content/Images/ThuVienAnhs/639110377964864952_ssss_1__59_1.jpg', 0)
SET IDENTITY_INSERT [dbo].[ThuVienAnh] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
/****** Object:  Index [IX_MaBT]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaBT] ON [dbo].[Baohanh]
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaHD]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaHD] ON [dbo].[Baohanh]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaTK]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaTK] ON [dbo].[Baohanh]
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaSP]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaSP] ON [dbo].[BienThe]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaDM]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaDM] ON [dbo].[ChatbotKnowledge]
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaTK]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaTK] ON [dbo].[ChatbotLog]
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaBT]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaBT] ON [dbo].[ChiTietBT]
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaGT]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaGT] ON [dbo].[ChiTietBT]
(
	[MaGT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaBT]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaBT] ON [dbo].[ChiTietHoaDon]
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaHD]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaHD] ON [dbo].[ChiTietHoaDon]
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaBT]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaBT] ON [dbo].[DanhGia]
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaTK]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaTK] ON [dbo].[DanhGia]
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaDMCha]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaDMCha] ON [dbo].[DanhMuc]
(
	[MaDMCha] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [kotrungtendm]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [kotrungtendm] ON [dbo].[DanhMuc]
(
	[TenDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaTT]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaTT] ON [dbo].[GiaTriTT]
(
	[MaTT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaBT]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaBT] ON [dbo].[GioHang]
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaTK]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaTK] ON [dbo].[GioHang]
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaTK]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaTK] ON [dbo].[HoaDon]
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaBrand]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaBrand] ON [dbo].[SanPham]
(
	[MaBrand] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaDM]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaDM] ON [dbo].[SanPham]
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaBT]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaBT] ON [dbo].[SanPhamKhuyenMai]
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaKM]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaKM] ON [dbo].[SanPhamKhuyenMai]
(
	[MaKM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaSP]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaSP] ON [dbo].[SanPhamKhuyenMai]
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaDM]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaDM] ON [dbo].[ThuocTinh]
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaBT]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaBT] ON [dbo].[ThuVienAnh]
(
	[MaBT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MaTK]    Script Date: 5/10/2026 7:29:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_MaTK] ON [dbo].[TinTuc]
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ('') FOR [PhuongThucThanhToan]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [MaBrand]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [ThoiHanBaoHanh]
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai] ADD  DEFAULT ((0)) FOR [SoLuongDaBan]
GO
ALTER TABLE [dbo].[ThuocTinh] ADD  DEFAULT ((0)) FOR [LaThuocTinhChinh]
GO
ALTER TABLE [dbo].[ThuVienAnh] ADD  DEFAULT ((0)) FOR [ThuTu]
GO
ALTER TABLE [dbo].[Baohanh]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Baohanhs_dbo.BienThe_MaBT] FOREIGN KEY([MaBT])
REFERENCES [dbo].[BienThe] ([MaBT])
GO
ALTER TABLE [dbo].[Baohanh] CHECK CONSTRAINT [FK_dbo.Baohanhs_dbo.BienThe_MaBT]
GO
ALTER TABLE [dbo].[Baohanh]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Baohanhs_dbo.HoaDon_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[Baohanh] CHECK CONSTRAINT [FK_dbo.Baohanhs_dbo.HoaDon_MaHD]
GO
ALTER TABLE [dbo].[Baohanh]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Baohanhs_dbo.TaiKhoanNguoiDung_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTK])
GO
ALTER TABLE [dbo].[Baohanh] CHECK CONSTRAINT [FK_dbo.Baohanhs_dbo.TaiKhoanNguoiDung_MaTK]
GO
ALTER TABLE [dbo].[BienThe]  WITH CHECK ADD  CONSTRAINT [FK_dbo.BienThe_dbo.SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BienThe] CHECK CONSTRAINT [FK_dbo.BienThe_dbo.SanPham_MaSP]
GO
ALTER TABLE [dbo].[ChatbotKnowledge]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChatbotKnowledge_dbo.DanhMuc_MaDM] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[ChatbotKnowledge] CHECK CONSTRAINT [FK_dbo.ChatbotKnowledge_dbo.DanhMuc_MaDM]
GO
ALTER TABLE [dbo].[ChatbotLog]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChatbotLog_dbo.TaiKhoanNguoiDung_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTK])
GO
ALTER TABLE [dbo].[ChatbotLog] CHECK CONSTRAINT [FK_dbo.ChatbotLog_dbo.TaiKhoanNguoiDung_MaTK]
GO
ALTER TABLE [dbo].[ChiTietBT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietBT_dbo.BienThe_MaBT] FOREIGN KEY([MaBT])
REFERENCES [dbo].[BienThe] ([MaBT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietBT] CHECK CONSTRAINT [FK_dbo.ChiTietBT_dbo.BienThe_MaBT]
GO
ALTER TABLE [dbo].[ChiTietBT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietBT_dbo.GiaTriTT_MaGT] FOREIGN KEY([MaGT])
REFERENCES [dbo].[GiaTriTT] ([MaGT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietBT] CHECK CONSTRAINT [FK_dbo.ChiTietBT_dbo.GiaTriTT_MaGT]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.BienThe_MaBT] FOREIGN KEY([MaBT])
REFERENCES [dbo].[BienThe] ([MaBT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.BienThe_MaBT]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.HoaDon_MaHD] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_dbo.ChiTietHoaDon_dbo.HoaDon_MaHD]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DanhGia_dbo.BienThe_MaBT] FOREIGN KEY([MaBT])
REFERENCES [dbo].[BienThe] ([MaBT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_dbo.DanhGia_dbo.BienThe_MaBT]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DanhGia_dbo.TaiKhoanNguoiDung_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_dbo.DanhGia_dbo.TaiKhoanNguoiDung_MaTK]
GO
ALTER TABLE [dbo].[DanhMuc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DanhMuc_dbo.DanhMuc_MaDMCha] FOREIGN KEY([MaDMCha])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[DanhMuc] CHECK CONSTRAINT [FK_dbo.DanhMuc_dbo.DanhMuc_MaDMCha]
GO
ALTER TABLE [dbo].[GiaTriTT]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GiaTriTT_dbo.ThuocTinh_MaTT] FOREIGN KEY([MaTT])
REFERENCES [dbo].[ThuocTinh] ([MaTT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GiaTriTT] CHECK CONSTRAINT [FK_dbo.GiaTriTT_dbo.ThuocTinh_MaTT]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHang_dbo.BienThe_MaBT] FOREIGN KEY([MaBT])
REFERENCES [dbo].[BienThe] ([MaBT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_dbo.GioHang_dbo.BienThe_MaBT]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_dbo.GioHang_dbo.TaiKhoanNguoiDung_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTK])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_dbo.GioHang_dbo.TaiKhoanNguoiDung_MaTK]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_dbo.HoaDon_dbo.TaiKhoanNguoiDung_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTK])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_dbo.HoaDon_dbo.TaiKhoanNguoiDung_MaTK]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPham_dbo.Brand_MaBrand] FOREIGN KEY([MaBrand])
REFERENCES [dbo].[Brand] ([MaBrand])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_dbo.SanPham_dbo.Brand_MaBrand]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPham_dbo.DanhMuc_MaDM] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_dbo.SanPham_dbo.DanhMuc_MaDM]
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.BienThe_MaBT] FOREIGN KEY([MaBT])
REFERENCES [dbo].[BienThe] ([MaBT])
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai] CHECK CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.BienThe_MaBT]
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.KhuyenMai_MaKM] FOREIGN KEY([MaKM])
REFERENCES [dbo].[KhuyenMai] ([MaKM])
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai] CHECK CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.KhuyenMai_MaKM]
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.SanPham_MaSP] FOREIGN KEY([MaSP])
REFERENCES [dbo].[SanPham] ([MaSP])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPhamKhuyenMai] CHECK CONSTRAINT [FK_dbo.SanPhamKhuyenMai_dbo.SanPham_MaSP]
GO
ALTER TABLE [dbo].[ThuocTinh]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ThuocTinh_dbo.DanhMuc_MaDM] FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMuc] ([MaDM])
GO
ALTER TABLE [dbo].[ThuocTinh] CHECK CONSTRAINT [FK_dbo.ThuocTinh_dbo.DanhMuc_MaDM]
GO
ALTER TABLE [dbo].[ThuVienAnh]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ThuVienAnh_dbo.BienThe_MaBT] FOREIGN KEY([MaBT])
REFERENCES [dbo].[BienThe] ([MaBT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThuVienAnh] CHECK CONSTRAINT [FK_dbo.ThuVienAnh_dbo.BienThe_MaBT]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_dbo.TinTuc_dbo.TaiKhoanNguoiDung_MaTK] FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoanNguoiDung] ([MaTK])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_dbo.TinTuc_dbo.TaiKhoanNguoiDung_MaTK]
GO
USE [master]
GO
