@model IEnumerable<Maison.Models.Danhmuc>
    @foreach(var item in Model)
            {

       <li><a href="https://www.google.com" >@item.TenDM <i class="fas fa-chevron-right "></i> </a></li>

            }
